@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand");

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", "Arial", sans-serif;
}

button {
  height: 30px;
  width: 100px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  font-family: "Quicksand", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 700;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}

span {
  margin: 0 10px;
  font-size: 10px;
}
